body {
    background-color: #ffffff;
}


.wrapper {
    width: 980px;
    height: 1080px;
    margin: 0px auto;
    background-color: #999999;
}


header {
    float: left;
    width: 980px;
    height: 150px;
    background-color: #dae1e6;
}

nav {
    float: left;
    width: 600px;
    height: 40px;
    margin: 58px 100px;
}


nav ul {
    float: left;
    width: 560px;
    height: 40px;
    margin: 0px 0px;
    
}

nav ul li {
    float: left;
    list-style-type: none;
    text-align: center;
    margin: 5px 0px;
   
}


nav ul li a {
    float: left;
    margin: 5px 29px;
    color: black;
    text-decoration: none;
    text-align: center;
  //  font-size: 17px;
    height: 40px;
    background-color: #dae1e6;
}


nav ul li a:hover {
    float: left;
    color: #af9c16;
}


.row {
    float: left;
    width: 100px;
    height: 930px;
    background-color: #dae1e6;
}